.vscode
output
test/build
build/
test/coverage
/windowscode/Apps/hra/Release/
/windowscode/.vs/
/windowscode/Apps/hra/x64/Release/
/windowscode/bin/Win32/
/windowscode/bin/x64/
/windowscode/Common/AsiEsmIpcClientPlugin/Release/
/windowscode/Common/AsiEsmIpcClientPlugin/x64/Release/
/windowscode/lib/x64/
/windowscode/Common/AsiEsmIpcServerPlugin/Release/
/windowscode/Common/AsiEsmIpcServerPlugin/x64/Release/
/windowscode/Common/HRARpcClientManager/Release/
/windowscode/Common/HRARpcClientManager/x64/Release/
/windowscode/Common/HRARpcServerManager/x64/Release/
/windowscode/Common/utility/x64/Release/
/windowscode/Core/HRATaskScheduler/x64/Release/
/windowscode/Features/AppScan/x64/Release/
version.unicode.hpp
/windowscode/Common/HRARpcServerManager/Release/
/windowscode/Common/Libs/LibNginxParser/Release/
/windowscode/Common/Libs/LibNginxParser/x64/Release/
/windowscode/Common/utility/Release/
/windowscode/Core/HRATaskScheduler/Release/
/windowscode/Features/AssetScan/Release/
/windowscode/Features/AssetScan/x64/Release/
/windowscode/Apps/hra/hra.vcxproj.user
/windowscode/Common/HraIpcInterface/x64/Release/
/windowscode/Core/DolphinCore/x64/Release/
/windowscode/Core/HRAModuleInterface/x64/Release/
/windowscode/Core/HraRpcCommModule/x64/Release/
/windowscode/Core/HRATaskScheduler/HRATaskScheduler.vcxproj.user
/windowscode/Features/AppScan/AppScan.vcxproj.user
/windowscode/Features/AssetScan/AssetScan.vcxproj.user
/windowscode/Features/BaseLine/x64/Release/
/windowscode/Features/Dolphin/x64/Release/
/windowscode/Features/HostDiscovery/x64/Release/
/windowscode/Features/LogMgr/x64/Release/
/windowscode/Features/OsScan/x64/Release/
/windowscode/Features/PatternUpdate/x64/Release/
/windowscode/Features/RegReport/x64/Release/
/windowscode/Common/HraInstall/x64/Release/
/windowscode/Features/Dolphin/Dolphin.vcxproj.user
/windowscode/Features/RegReport/RegReport.vcxproj.user
/windowscode/Test/hra_test/x64/Release/
/windowscode/Common/AsiEsmIpcClientPlugin/x64/Debug/
/windowscode/Common/AsiEsmIpcServerPlugin/x64/Debug/
/windowscode/Common/HraInstall/x64/Debug/
/windowscode/Common/HraIpcInterface/x64/Debug/
/windowscode/Common/Libs/LibNginxParser/x64/Debug/
/windowscode/Common/utility/x64/Debug/
/windowscode/Core/HRATaskScheduler/x64/Debug/
/windowscode/Features/AppScan/x64/Debug/
/windowscode/Features/AssetScan/x64/Debug/
/windowscode/Features/BaseLine/x64/Debug/
/windowscode/Features/HostDiscovery/x64/Debug/
/windowscode/Features/OsScan/x64/Debug/
/windowscode/Test/hra_test/x64/Debug/
/windowscode/Test/UnitTest/x64/Debug/
/windowscode/Common/Libs/LibConfigParser/x64/Release/
/windowscode/Test/UnitTest/x64/Release/
/windowscode/Test/hra_test/debug/
/windowscode/Test/hra_test/hra_test.vcxproj.user
/windowscode/Test/UnitTest/UnitTest.vcxproj.user
/windowscode/Test/UnitTest/debug/
/windowscode/PostBuildPrep/x64/Release/
/windowscode/Apps/hra_crypt/x64/Release/
/windowscode/bin/
/windowscode/VersionControl/x64/Release/
/windowscode/VersionControl/x64/
/windowscode/Features/HostDiscovery/Win32/Debug/
/windowscode/Apps/hra_crypt/x64/Debug/
/windowscode/Apps/hra/x64/Debug/
/windowscode/Common/Libs/LibConfigParser/x64/Debug/
/windowscode/Core/DolphinCore/x64/Debug/
/windowscode/Core/HRAModuleInterface/x64/Debug/
/windowscode/Core/HraRpcCommModule/x64/Debug/
/windowscode/Features/Dolphin/x64/Debug/
/windowscode/Features/LogMgr/x64/Debug/
/windowscode/Features/PatternUpdate/x64/Debug/
/windowscode/Features/RegReport/x64/Debug/
/windowscode/Test/libHostDiscovery/x64/Release/
/windowscode/Test/libHostDiscovery/x64/Debug/
/windowscode/Test/libHostDiscovery/Win32/Release/
/windowscode/Test/libHostDiscovery/Win32/Debug/
/windowscode/Test/libHostDiscovery/libHostDiscovery.vcxproj.user
/windowscode/Features/HostDiscovery/HostDiscovery.vcxproj.user
/windowscode/Test/libAssetScan/x64/Release/
/windowscode/Apps/hra_crypt/Win32/Release/
/windowscode/Apps/hra/Win32/Release/
/windowscode/Common/AsiEsmIpcClientPlugin/Win32/Release/
/windowscode/Common/AsiEsmIpcServerPlugin/Win32/Release/
/windowscode/Common/HraInstall/Win32/Release/
/windowscode/Common/HraIpcInterface/Win32/Release/
/windowscode/Common/Libs/LibConfigParser/Win32/Release/
/windowscode/Common/utility/Win32/Release/
/windowscode/Core/DolphinCore/Win32/Release/
/windowscode/Core/HRAModuleInterface/Win32/Release/
/windowscode/Core/HraRpcCommModule/Win32/Release/
/windowscode/Core/HRATaskScheduler/Win32/Release/
/windowscode/Features/AppScan/Win32/Release/
/windowscode/Features/AssetScan/Win32/Release/
/windowscode/Features/BaseLine/Win32/Release/
/windowscode/Features/Dolphin/Win32/Release/
/windowscode/Features/HostDiscovery/Win32/Release/
/windowscode/Features/LogMgr/Win32/Release/
/windowscode/Features/OsScan/Win32/Release/
/windowscode/Features/PatternUpdate/Win32/Release/
/windowscode/Features/RegReport/Win32/Release/
/windowscode/lib/Win32/
/windowscode/PostBuildPrep/Release/
/windowscode/Test/hra_test/Win32/Release/
/windowscode/Test/libAssetScan/Win32/Release/
/windowscode/VersionControl/Win32/Release/
/.vs/
/windowscode/Apps/hra/Win32/
/windowscode/Apps/hra_crypt/Win32/
/windowscode/Common/AsiEsmIpcServerPlugin/Win32/
/windowscode/Common/AsiEsmIpcClientPlugin/Win32/
/windowscode/Common/HraInstall/HraInstall.vcxproj.user
/windowscode/Common/HraInstall/Win32/
/windowscode/Common/HraIpcInterface/Win32/
/windowscode/Common/Libs/LibConfigParser/LibConfigParser.vcxproj.user
/windowscode/Common/Libs/LibConfigParser/Win32/
/windowscode/Common/utility/Win32/
/windowscode/Common/utility/utility.vcxproj.user
/windowscode/Core/DolphinCore/Win32/
/windowscode/Core/HRAModuleInterface/Win32/
/windowscode/Core/HRATaskScheduler/Win32/
/windowscode/Core/HraRpcCommModule/Win32/
/windowscode/Features/AssetScan/Win32/
/windowscode/Features/BaseLine/Win32/
/windowscode/Features/Dolphin/Win32/
/windowscode/Features/LogMgr/Win32/
/windowscode/Features/OsScan/Win32/
/windowscode/Features/PatternUpdate/Win32/
/windowscode/Features/RegReport/Win32/
/windowscode/PostBuildPrep/Debug/
/windowscode/PostBuildPrep/x64/
/windowscode/Test/UnitTest/asset/
/windowscode/Features/AppScan/Win32/
/windowscode/PostBuildPrep/PostBuildPrep
/windowscode/Test/UnitTest/config/
/windowscode/Test/UnitTest/config.db
/windowscode/Test/UnitTest/Win32/
/windowscode/Test/libAssetScan/Debug/
/windowscode/Test/libAssetScan/Release/
/windowscode/Test/libAssetScan/Win32/
/windowscode/Test/libAssetScan/libAssetScan.vcxproj.user
/windowscode/Test/libAssetScan/x64/
/windowscode/VersionControl/Win32/
/windowscode/Test/hra_test/Win32/
/windowscode/hra.sdf
/windowscode/hra.v11.suo
/windowscode/Test/UnitTest/log/
/windowscode/Common/AsiEsmIpcClientPlugin/AsiEsmIpcClientPlugin.vcxproj.user
/windowscode/Core/DolphinCore/DolphinCore.vcxproj.user
/windowscode/VersionControl/VersionControl.vcxproj.user
/windowscode/Apps/hra_dolphin/x64/
/windowscode/Apps/hra_dolphin/Win32/
/windowscode/Common/Libs/LibPatternCypher/x64/
/windowscode/Common/Libs/LibPatternCypher/Win32/
/windowscode/Features/VulnPoc/x64/
/windowscode/Features/VulnPoc/Win32/
/windowscode/Apps/hra_crypt/hra_crypt.vcxproj.user
/windowscode/Common/AsiEsmIpcServerPlugin/AsiEsmIpcServerPlugin.vcxproj.user
/windowscode/Common/HraIpcInterface/HraIpcInterface.vcxproj.user
/windowscode/Common/Libs/LibPatternCypher/LibPatternCypher.vcxproj.user
/windowscode/Core/HraRpcCommModule/HraRpcCommModule.vcxproj.user
/windowscode/Features/BaseLine/BaseLine.vcxproj.user
/windowscode/Features/LogMgr/LogMgr.vcxproj.user
/windowscode/Features/OsScan/OsScan.vcxproj.user
/windowscode/Features/PatternUpdate/PatternUpdate.vcxproj.user
/windowscode/Features/VulnPoc/VulnPoc.vcxproj.user
/windowscode/Core/HRAModuleInterface/HRAModuleInterface.vcxproj.user
/windowscode/Apps/hra_dolphin/hra_dolphin.vcxproj.user
/windowscode/Common/Libs/LibUtilityBase/LibUtilityBase.vcxproj.user
/windowscode/Common/Libs/LibUtilityBase/x64/
/windowscode/Common/Libs/LibUtilityBase/Win32/
/windowscode/PostBuildPrep/PostBuildPrep.vcxproj.user
/windowscode/Test/ntlm_test/ntlm_test.vcxproj.user
/windowscode/Core/AssetEngineWrapper/AssetEngineWrapper.vcxproj.user
